.body-custom {
  width: 100% !important;
  background-color: var(--terciary-blue);
}
.breadcrumb .breadcrumb-item {
  font-size: 0.6rem;
}
.image-section {
  position: absolute;
  right: 2rem;
  top: -0.4rem;
}
.quad-image {
  width: 75px; /* Ajuste conforme necessário */
  height: auto; /* Ajuste conforme necessário */
  border: none; /* Cor da borda da imagem */
  border-radius: 10px; /* Arredondar as bordas */
  position: relative; /* Garante que o ícone seja posicionado relativo a esta imagem */
}
#icon-style {
  font-size: 1.9rem; /* Tamanho da fonte */
  position: absolute; /* Posicionamento absoluto em relação à imagem */
  left: 50%; /* Posiciona o ícone no centro horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  top: 2.6rem;
}

label {
  font-size: 0.6rem;
  display: block;
}
.text-custom-color {
  color: var(--primary-grey);
}
.progress-wrapper {
  padding-top: 5vh;
  margin-left: 7vw;
}
.breadcrumb-container {
  padding-top: 2vh;
}

@media (max-width: 768px) {
  #icon-style {
    bottom: -16rem !important; /* Posiciona o ícone no centro verticalmente */
    font-size: 2.9rem; /* Tamanho da fonte */
  }
  #icon-style {
    color: black !important;
  }
  .quad-image {
    width: 110px; /* Ajuste conforme necessário */
    bottom: 9.8rem;
  }
  .image-section {
    position: absolute;
    right: 2rem;
    top: 5rem;
  }
  .progress-wrapper {
    padding-top: 0vh;
    margin-left: 0vw;
  }
}
