
<app-navbar></app-navbar>
<ng-container *ngIf="view">
    <div class="calendar">
      <div class="container mb-5">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="row text-center">
              <div class="col-md-4">
                <div class="btn-group">
                  <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Previous
                  </div>
                  <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                  >
                    Today
                  </div>
                  <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Next
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 text-lg-end text-center">
            <h3 class="text-uppercase ">
              {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
            </h3>
          </div>
        </div>
      </div>
      <mwl-calendar-month-view 
        [viewDate]="viewDate"
        [events]="eventss"
        [locale]="locale"

        (dayClicked)="dayClicked($event.day)"
        type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"
      ></mwl-calendar-month-view>
    </div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">EVENTOS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngFor="let evento of eventsOnModal">
            <p>
              {{evento.title}}
            </p>
            <p>
               Começa: {{ evento.start| date: 'dd/MM/yyyy' : 'pt-BR' }}
            </p>
            <p>
                Termina: {{ evento.end | date: 'dd/MM/yyyy' : 'pt-BR' }}
            </p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="goToEditEvent(evento.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar evento</button>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="editEventModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="title" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
              <label for="start" class="col-form-label">Start:</label>
              <input type="text" class="form-control" id="start" >
            </div>
            <div class="mb-3">
              <label for="end" class="col-form-label">End:</label>
              <input type="text" class="form-control" id="end">
            </div>
            <div class="mb-3">
              <label for="color" class="col-form-label">Color:</label>
              <input type="text" class="form-control" id="color" >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<div style="margin-top:20vh; height: 
30vh;">


</div>