.calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .week-header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  

  .day.today {
    background-color: #ffeb3b;
  }
  
  .day.other-month {
    color: #ccc;
  }
  .week {
    display: flex;
    justify-content: space-between;
    margin-left: -10px; /* Espaço extra no início */
    margin-right: -10px; /* Espaço extra no final */
  }
  
  .day {
    flex: 1;
    text-align: center;
    padding: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .week-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-weight: bold;
  }
  
  /* Estilos adicionais conforme necessário */
  .event-day {
    background-color: #ff5733; /* Defina a cor desejada */
    color: white; /* Cor do texto */
    font-weight: bold; /* Estilos adicionais, se necessário */
  }

  .example-form-field {
    margin: 0 8px 16px 0;
  }

  .btn:hover .fa-plus{
    animation:spin 1s
  }
  .btn:hover .fa-xmark{
    animation:spin 1s
  }
  .btn:hover .fa-check{
    animation:bounce 1s
  }
  .btn:hover .fa-pencil{
    animation:bounce 1s
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-1vh);
      
    }
    60% {
      transform: translateY(-0.8vh);
    }
  }
  @media(max-width:768px){
    .calendar {
      width: 100%;
      height: 90%;
      padding: 1rem;

    }
  }

