
<app-navbar></app-navbar>
<ng-container *ngIf="view">
    <div class="calendar">
      <div class="container mb-5">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="row text-center">
              <div class="col-md-4">
                <div class="btn-group">
                  <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Anterior
                  </div>
                  <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                  >
                    Hoje
                  </div>
                  <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Próximo
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 text-lg-end text-center">
            <h3 class="text-uppercase ">
              {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
            </h3>
          </div>
        </div>
      </div>
      <mwl-calendar-month-view 
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"

        (dayClicked)="dayClicked($event.day)"
        type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"
      ></mwl-calendar-month-view>
    </div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">EVENTOS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <div *ngFor="let evento of eventsOnModal" class=" mb-5">
            <p class="text-uppercase fw-bolder">
              {{evento.title}}
            </p>
            <p class="p-auto">
              {{ evento.start| date: 'dd/MM/yyyy' : 'pt-BR' }}   <i class="fa-solid fa-arrow-right" style="font-size: 0.6rem;"></i>   {{ evento.end | date: 'dd/MM/yyyy' : 'pt-BR' }}
            </p>
            <hr style="font-size: 1rem;">
          </div>
          <div class="modal-footer" *ngIf="role=='ADMIN'">
            <button type="button" class="btn btn-secondary"data-bs-toggle="offcanvas"  data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><a data-bs-toggle="modal" data-bs-dismiss="modal">Editar</a></button>
            <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#novoEvento">Criar Novo</button>
          </div>
        </div>
       
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Edição</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="modal-body">
            <div *ngFor="let evento of eventsOnModal" class="mb-3">
              <p>
                {{evento.title}}
              </p>
              <p>
                Começa: {{ evento.start| date: 'dd/MM/yyyy' : 'pt-BR' }}
              </p>
              <p>
                 Termina: {{ evento.end | date: 'dd/MM/yyyy' : 'pt-BR' }}
              </p>
              <div class="modal-footer">
                <div class="col-3">
                  <button type="button" class="btn btn-secondary "data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Apagar</button>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editModal" (click)="edit(evento)">Editar</button>
                </div>
              </div>
              <hr>
            </div>
          </div>
    </div>
  </div>
</ng-container>

<!--------------------- EDITAR EVENTO -------------->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editEventModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="title" class="col-form-label">Título:</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="copyEvent.title" required>
          </div>
          <div class="mb-3">
            <label for="start" class="col-form-label">Começo:</label>
            <input type="text" class="form-control" id="start" name="start" [(ngModel)]="copyEvent.start" required>
          </div>
          <div class="mb-5">
            <label for="end" class="col-form-label">Fim:</label>
            <input type="text" class="form-control" id="end" name="end" [(ngModel)]="copyEvent.end" required>
          </div>
          <div class="mb-3">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="color" name="color" [(ngModel)]="copyEvent.color" required>
              <option value="" disabled selected>Selecione a cor</option>
              <option value="red">Vermelho</option>
              <option value="green">Verde</option>
              <option value="Amarelo">Amarelo</option>
              <option value="Azul">Azul</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--------------------- NOVO EVENTO -------------->
<div class="modal fade" id="novoEvento" tabindex="-1" aria-labelledby="novoEvento" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Novo Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="title" class="col-form-label">Título:</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="formData.title" required>
          </div>
          <div class="mb-3">
            <label for="start" class="col-form-label">Começo:</label>
            <input type="text" class="form-control" id="start" name="start" [(ngModel)]="formData.start" required>
          </div>
          <div class="mb-5">
            <label for="end" class="col-form-label">Fim:</label>
            <input type="text" class="form-control" id="end" name="end" [(ngModel)]="formData.end" required>
          </div>
          <div class="mb-3">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="color" name="color" [(ngModel)]="formData.color" required>
              <option value="" disabled selected>Selecione a cor</option>
              <option value="red">Vermelho</option>
              <option value="green">Verde</option>
              <option value="Amarelo">Amarelo</option>
              <option value="Azul">Azul</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
