.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
  }
  
  .bi.bi-check-circle {
    font-size: 2rem; /* Tamanho inicial */
    color: #000; /* Cor inicial */
    animation: scaleAndRotate 2s ease-in-out infinite; /* Aplica a animação */
  }
  
  /* Define a animação de escala e rotação */
  @keyframes scaleAndRotate {
    0% {
      font-size: 2rem; /* Tamanho inicial */
      color: #000; /* Cor inicial */
      transform: rotate(0deg); /* Rotação inicial */
    }
    10% {
      font-size: 3rem; /* Tamanho intermediário */
      color: #111; /* Cor intermediária */
      transform: rotate(45deg); /* Rotação intermediária */
    }
    20% {
      font-size: 4rem; /* Tamanho intermediário */
      color: #222; /* Cor intermediária */
      transform: rotate(90deg); /* Rotação intermediária */
    }
    30% {
      font-size: 5rem; /* Tamanho intermediário */
      color: #333; /* Cor intermediária */
      transform: rotate(135deg); /* Rotação intermediária */
    }
    40% {
      font-size: 6rem; /* Tamanho intermediário */
      color: #444; /* Cor intermediária */
      transform: rotate(180deg); /* Rotação intermediária */
    }
    50% {
      font-size: 7rem; /* Tamanho intermediário */
      color: #555; /* Cor intermediária */
      transform: rotate(225deg); /* Rotação intermediária */
    }
    60% {
      font-size: 8rem; /* Tamanho intermediário */
      color: #666; /* Cor intermediária */
      transform: rotate(270deg); /* Rotação intermediária */
    }
    70% {
      font-size: 9rem; /* Tamanho intermediário */
      color: #777; /* Cor intermediária */
      transform: rotate(315deg); /* Rotação intermediária */
    }
    80% {
      font-size: 10rem; /* Tamanho final */
      color: #888; /* Cor intermediária */
      transform: rotate(360deg); /* Rotação final */
    }
    100% {
      font-size: 10rem; /* Tamanho final */
      color: green; /* Cor final */
      transform: rotate(360deg); /* Rotação final */
    }
  }
  .video-container {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  youtube-player  {
    padding-left:10px;
  }
  
  