.card:hover{
    opacity: 0.95;
}
.card{
    border-radius:2rem;
    padding:1rem
}
.rounded-custom{
    border-radius:1rem!important
}
.bi-check-circle {
    font-size: 1rem; /* Tamanho inicial */
    color: green; /* Cor inicial */
}
.bi-x-circle{
    font-size: 1rem; /* Tamanho inicial */
    color: red; /* Cor inicial */
}
.typeCardIcon{
    font-size: 2rem!important; /* Tamanho inicial */
    color: #000; /* Cor inicial */

}
.btn-custom a{
    font-size:1rem
}

@media (max-width: 768px) {
    .card-title{
        font-size:0.8rem;
    }
    .card{
        padding:0.5rem
    }

}