<div class="card mt-3">
    <div class="row g-0">
        <div class="col-lg-12 col-md-12 d-flex justify-content-between">
            <div class="ps-3 mt-2">
                <h5>
                    On Boarding
                </h5>
            </div>
            <div class="pe-3 mt-2">
                <i class="bi bi-camera-reels" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 mt-md-4">
            <div class="card-body">
                <h3 class="card-title">Seja Bem Vindo</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Concluído: <i class="bi bi-check-circle" style="color:green"></i></small></p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 p-3">     
            <button class="w-100 btn btn-primary btn-lg text-center btn-custom rounded-custom">
                <a href="#" class="btn text-white text-600" [routerLink]="['/trilhas-disponiveis']">Recomeçar</a>
            </button>
              
        </div>

    </div>
  </div>
  <div class="card mt-3" >
    <div class="row g-0">
        <div class="col-lg-12 col-md-12 d-flex justify-content-between">
            <div class="ps-3 mt-2">
                <h5>
                    On Boarding
                </h5>
            </div>
            <div class="pe-3 mt-2">
                <i class="bi bi-chat-quote" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 mt-md-4">
            <div class="card-body">
                <h3 class="card-title">Conhecendo o Grupo Sels</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Concluído: <i class="bi bi-x-circle" style="color:red"></i></small></p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 p-3">     
            <button class="w-100 btn btn-primary btn-lg text-center btn-custom rounded-custom">
                <a href="#" class="btn text-white text-600" [routerLink]="['/trilhas-disponiveis']">Iniciar</a>
            </button>
        </div>
    </div>
  </div>
  <div class="card mt-3 mb-5 " >
    <div class="row g-0">
        <div class="col-lg-12 col-md-12 d-flex justify-content-between">
            <div class="ps-3 mt-2">
                <h5>
                    On Boarding
                </h5>
            </div>
            <div class="pe-3 mt-2">
                <i class="bi bi-clipboard-data" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 mt-md-4">
            <div class="card-body">
                <h3 class="card-title">Challenge </h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Concluído: <i class="bi bi-x-circle" style="color:red"></i></small></p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 p-3">     
            <button class="w-100 btn btn-primary btn-lg text-center btn-custom rounded-custom">
                <a href="#" class="btn text-white text-600" [routerLink]="['/trilhas-disponiveis']">Iniciar</a>
            </button>
              
        </div>

    </div>
  </div>
