.container-global{
    padding-top:5vh;
    align-self: center;
    width: 100%;
    height:140vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.card-view{
    max-height:100vh!important;
}

.short-content{
    height:8vh;
    overflow:clip
}
.short-content p{
    line-height:0.9
}
.card-body:hover{
    cursor: pointer;
}
.card:hover{
    scale:1.1;
    transition-timing-function:easy-in-out;
    transition: 0.75s;
}
.card-title:hover{
    transition-timing-function:easy-in-out;
    transition: 0.35s;
    color: #435E8B;
}
.card-title{
    justify-content:center;
    height:8vh
}
.icons-changes{
    display:flex;
    justify-content:flex-end
}
.icons-changes i:hover{
    scale:1.1;
    cursor: pointer;
    transition: 0.35s;
}
.pagination{

    
}
@media(max-width:768px){
    .container-global{
        height:160vh
    }
    .pagination{
        margin-top:10vh
            
    }
}
@media(max-width:475px){
    .container-global{
        height:450vh
    }

}
@media(max-width:425px){
    .container-global{
        height:475vh
    }

}
@media(max-width:395px){
    .container-global{
        height:500vh!important
    }

}
@media(max-width:375px){
    .container-global{
        height:600vh!important
    }

}
@media(max-width:325px){
    .container-global{
        height:650vh
    }
}
@media(max-width:320px){
    .container-global{
        height:350vh
    }

}

/* navbar css */
