<footer id="footer" class="container-fluid ms-0" >
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h3>SELS</h3>
                    <p>O conhecimento é libertador, te dá <strong>asas que levam a lugares inimagináveis</strong></p>
                </div>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/company/grupo-sels/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>SELS</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer>
