#footer {
  
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Ffotos-vetores-gratis%2Ffundo-preto-liso&psig=AOvVaw2xiLGNyioZZnGue5ArC9fG&ust=1698198225491000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCKCL6szHjYIDFQAAAAAdAAAAABAE") center center no-repeat;
  color: #fff;
  font-size: 14px;
  width: 100vw;
  background: rgba(26, 46, 64, 0.85);
}

#footer .footer-top {
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
}





#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #284864;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #6581a6;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #1a2e40;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 768px){
  #footer .copyright,
  #footer .credits {
    padding: 5px;
    text-align: center;
  }
}