.body-custom{
    width:100%!important;
    background-color:var(--terciary-blue);

}
.breadcrumb .breadcrumb-item{
    font-size:0.6rem;
}
.image-section {
    position: absolute;
    right: 2rem;
    top: 5.4rem;
  }
.quad-image {
    width: 80px; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
    border: none; /* Cor da borda da imagem */
    border-radius: 10px; /* Arredondar as bordas */
    position: relative; /* Garante que o ícone seja posicionado relativo a esta imagem */
    bottom:1%;
    
  }
  #icon-style {
    font-size: 1.9rem; /* Tamanho da fonte */
    position: absolute; /* Posicionamento absoluto em relação à imagem */
    top: 50%!important; /* Posiciona o ícone no centro verticalmente */
    left: 50%; /* Posiciona o ícone no centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o ícone */
  }
  
  label {
    font-size: 0.6rem;
    display: block;
  }
  .text-custom-color{
    color:var(--primary-grey);
  }
  .progress-wrapper{
    padding-top:5vh;
    margin-left:5vw
  }
  .breadcrumb-container{
    padding-top:2vh;
  }

  
  @media(max-width: 768px) {
    #icon-style {
      font-size: 2.9rem; /* Tamanho da fonte */
    }
    .quad-image {
      width: 110px; /* Ajuste conforme necessário */
    }
    .image-section {
      top: 5rem;
    }
    .progress-wrapper{
      padding-top:0vh;
      margin-left:0vw
    }
  }