<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let trail of trails">
      <div class="card h-100 ">
        <div class="card-body">
          <!-- Conteúdo do card -->
          <p class="card-text text-custom-color">{{trail.about}}</p>
          <h5 class="card-title text-white">{{trail.name}}</h5>
          <div class="my-2">
            <!-- Progresso -->
            <div class="progress-wrapper">
              <progress id="file" max="100" value="{{trail.percentageOfConclution}}" class="text-white"></progress>
            </div>
            <br>
            <label for="file" class="text-white custom-text-file">Concluído: {{trail.percentageOfConclution}}%</label>
          </div>
          <!-- Botão de Iniciar -->
          <div class=" col-12 text-center btn-custom rounded-custom">
            <a href="#" class=" btn px-2 py-25 w-75 text-600 pe-2" [routerLink]="['/trilhas-disponiveis', trail.name]" (click)="setTrailDetail(trail.resourceLocation)">Iniciar</a>
          </div>
          
          <!-- Nova seção para a imagem e o texto -->
          <div class="image-section">
            <img src="assets/hex-yellow.png" alt="Quadriculada" class="quad-image">
            <i id="icon-style" [class]="getIcon(trail)" style="color:black"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
