body{
  margin-top:20px;
  background-color: #e4e6e9;
  color: #41464d;
}

.border-2 {
    border-width: 2px!important;
    border-style: solid!important;
    border-color: transparent;
}

.letter-spacing {
    letter-spacing: .5px!important;
}
.font-bolder, .text-600 {
    font-weight: 600!important;
}

.deleted-text{
text-decoration:line-through;  
}
.card{
    border:none;
    border-radius:1rem;
}
.card-body{
    border-radius:1rem;
    background-color: var(--secundary-blue);
}
.card-body:hover{

  background-color: var(--primary-blue);
}
.card-title{
    font-size:0.9rem;
}

.btn-custom{
    background-color:white;
}
.btn-custom a{
    color: var(--secundary-blue);
}
.btn-custom:hover a{
    color: white;
}
.rounded-custom:hover {
    transition:.5s;
    background-color: var(--terciary-blue);
}
.rounded-custom{
    border-radius:2rem!important
}

.progress-wrapper {
    height: 0.2rem;

  }
  
  progress[value] {
    width: 100%; /* Para ocupar todo o espaço do wrapper */
    height: 100%; /* Para ocupar toda a altura do wrapper */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: var(--terciary-blue); /* Cor de fundo */
  }
  
  progress[value]::-webkit-progress-bar {
    border-radius: 10em; /* Borda arredondada */
    background: var(--terciary-blue); /* Cor de fundo */
  }
  
  progress[value]::-webkit-progress-value {
    border-radius: 10em; /* Borda arredondada */
    background: white; /* Cor do preenchimento */
  }
  
  progress[value]::-moz-progress-bar {
    border-radius: 10em; /* Borda arredondada */
    background: white; /* Cor do preenchimento */
  }
  
  label {
    font-size: 0.7rem;
    display: block;
    margin: 0 0 ;
  }
  .text-custom-color{
    color:var(--primary-grey);
  }
/* Estilo para a seção da imagem e do texto */
.image-section {
    position: absolute;
    right: -1rem;
    top: -1.5rem;
  }
  
  /* Estilo para a imagem quadriculada */
  .quad-image {
    width: 80px; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
    border: none; /* Cor da borda da imagem */
    border-radius: 10px; /* Arredondar as bordas */
  }
  
  #icon-style{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 1.8rem; /* Tamanho da fonte */
  }
  
  