.bg-dark {
    height: 13vh;
}
.navbar-brand img {
    width: 10vh;
    height: auto;
}
.btn-primary{
    margin-left:2vw;
    height:6vh;
    width:10vw;
    background:#4B555E;
    border:none;
    border-radius:2rem;
}

@media(max-width:475px){
    .btn-primary{
        width:100%;
    }
}

