<app-navbar></app-navbar>
<h1 class="text-uppercase text-center" style="margin-top: 10vh;">benefícios existentes e ativos</h1>
<div class="container mt-5 pt-5">
    <div class="row text-center">
        <div class="col-lg-6 col-sm-12 " >   
            <div class="size-up-icon">
               <i (click)="showTextMediceFunc()"class="fa-solid fa-prescription-bottle-medical"><h5 >Convênio Farmácia</h5></i>
               <div *ngIf="showTextMedice">
                <div class="col-12 pt-5">
                    <ul  class="text-start pe-2" style="list-style-type: none;">
                        <h6 class="pb-5" style="font-size: 1.3rem;">
                            Condições e Informações para Adesão ao Convênio Farmácia:


                        </h6>
                        <li>
                            <p>
                                O convênio Farmácia Retiro é um benefício que oferecemos aos nossos colaboradores. Para aderir, é necessário ter completado 3 meses de experiência na empresa.                            
                            </p>
                        </li>
                        <li>
                            <p>
                                Para solicitar a adesão, por favor, entre em contato com o nosso setor de Recursos Humanos pelo e-mail: rh&#64;gruposels.com.br. Lembre-se de que há um limite de compra de R$ 150,00, que será descontado em folha no mês subsequente.
                            </p>
                        </li>
                    </ul>
                    <br>  
                    <p>
                        <small>
                            *Em caso de dúvidas ou necessidade de assistência, não hesite em entrar em contato com o nosso departamento de Recursos Humanos.
                        </small>
                    </p>             
               </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 " >   
            <div class="size-up-icon">
                <i (click)="showTextToothFunc()" class="fa-solid fa-tooth"><h5>Plano Odontológico</h5> </i>
                <div *ngIf="showTextTooth" class="row">
                    <div class="col-12 pt-5">
                        <ul  class="text-start pe-2" style="list-style-type: none;">
                            <h6 class="pb-5" style="font-size: 1.3rem;">
                                Condições e Informações para Adesão ao Plano Odontológico:
                            </h6>
                            <li>
                                <p>
                                    Após completar um período de 3 meses de experiência, o colaborador tem a oportunidade de aderir ao plano odontológico oferecido pela empresa Grupo Sels. Para solicitar adesão, entre em contato com o setor de Recursos Humanos pelo e-mail: rh&#64;gruposels.com.br.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Este benefício é custeado integralmente pela empresa. Após a ativação do plano, o colaborador terá acesso a um cartão virtual e <a href="http://uniodonto.me/AppBeneficiario">orientações</a> sobre o uso do aplicativo.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Após a vigência do plano o colaborador terá acesso a um cartão virtual e através do App 
                                </p>
                            </li>
                        </ul>
                        <br>  
                        <p>
                            <small>
                                *Em caso de dúvidas ou necessidade de assistência, não hesite em entrar em contato com o nosso departamento de Recursos Humanos.
                            </small>
                        </p>             
                   </div>

                </div>
            </div>

        </div>
    </div>
 
</div>
