@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Lobster&family=Tilt+Neon&display=swap');
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


/* font-family: 'Cabin', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Tilt Neon', sans-serif; */

*{
    font-family: 'Cabin', sans-serif;
    margin:0;
    padding:0;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@use '@angular/material' as mat;

@include mat.core();


$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);