@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Lobster&family=Tilt+Neon&display=swap');
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


/* font-family: 'Cabin', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Tilt Neon', sans-serif; */

*{
    font-family: 'Cabin', sans-serif;
    margin:0;
    padding:0;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$indigo-palette: (
 50: #e8eaf6,
 100: #c5cae9,
 200: #9fa8da,
 300: #7986cb,
 // ... continues to 900
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   // ... continues to 900
 )
);
@use '@angular/material' as mat;

$my-palette: mat.$indigo-palette;

@include mat.core();
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
